apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-stack
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 79.7.1
    chart: kube-prometheus-stack
    helm:
      parameters:
        - name: prometheus.service.type
          value: LoadBalancer
        - name: grafana.service.type
          value: LoadBalancer
        - name: grafana.adminPassword
          value: admin123
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
